.footer {
  &__inner {
    max-width: 790px;
    margin: 0 auto;
    padding: 1px 10px 4px 6px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $tablet-min) {
      flex-direction: column;
      align-items: center;

    }
  }

  &__content {
    background-image: url("../images/footer.png");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    padding-top: 204px;
    text-align: center;
    padding-bottom: 217px;

    @media screen and (max-width: $tablet-min) {
      padding-bottom: 100px;
    }
  }

  &__socials {
    padding: 12px 1px 4px 6px;

    @media screen and (max-width: $tablet-min) {
      padding: 25px 1px 4px 6px;
    }
  }

  &__form {
    background-image: url("../images/Background-form.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 830px;
    height: 484px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -882px;

    @media screen and (max-width: $tablet-min) {
      height: auto;
      left: 48%;
      right: 48%;
    }

    &-title {
      font-family: $body-font-family;
      font-size: 44px;
      font-weight: 700;
      text-align: center;
      padding-top: 129px;
      padding-bottom: 48px;
      text-transform: uppercase;

      @media screen and (max-width: $tablet-min) {
        font-size: 35px;
        padding-top: 89px;
        padding-bottom: 33px;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0px 3px 0 6px;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 88px;
      padding-right: 88px;

      @media screen and (max-width: $tablet-min) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 45px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  &__subtitle {
    padding: 38px 33px 11px 2px;
    font-family: $body-font-family;
    color: $color-header;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 17px;

    @media screen and (max-width: $tablet-min) {
      padding: 5px 5px 20px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: $tablet-min) {
    align-items: center;
    padding-left: 7px;
  }

  &__name {
    border: none;
    border-bottom: 1px solid $color-default;
    width: 138%;
    margin-bottom: 33px;
    padding-bottom: 9px;
    opacity: 0.3;
    font-family: $body-font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  &__email {
    border: none;
    border-bottom: 1px solid $color-default;
    width: 138%;
    margin-bottom: 30px;
    padding-bottom: 13px;
    opacity: 0.3;
    font-family: $body-font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  &__contact,
  &__link {
    font-size: 18px;
    font-weight: 400;
    font-family: $body-font-family;
    line-height: 28px;
    color: $color-default;
    padding-bottom: 28px;
  }
}