.gallery {
  max-width: 1180px;
  margin: auto;
  padding-top: 170px;
  padding-bottom: 154px;

  &__title {
    font-weight: 700;
    font-family: $body-font-family;
    font-size: 44px;
    text-align: center;
    line-height: 54.64px;
    padding-bottom: 89px;
    text-transform: uppercase;
  }
  
  &__photo {
    padding: 5px;

    &--padding {
      padding: 0px 5px 5px;

      @media screen and (max-width: 1180px) {
        padding: 5px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1180px) {
      justify-content: center;
      flex-wrap: wrap;
    }

    &-one {
      padding-right: 3px;
      padding-left: 5px;

      @media screen and (max-width: 1180px) {
        width: 100%;
        padding: 5px;
      }
    }

    &-photos {
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 1180px) {
        justify-content: center;
        width: 100%;
      }
    }
  }
}
